<!DOCTYPE html>
<html lang="en">
<head>
<title>Nuestro menu</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Your name">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" media="screen">
<link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" type="text/css" media="screen">    
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/stylesheets/nuestroMenu.css" type="text/css" media="screen">


<script type="text/javascript" src="/javascripts/jquery.js"></script>  
<script type="text/javascript" src="/javascripts/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/javascripts/superfish.js"></script>

<script type="text/javascript" src="/javascripts/jquery.ui.totop.js"></script>
<script>
$(document).ready(function() {
	//

}); //
$(window).load(function() {
	//

}); //
</script>		
<!--[if lt IE 8]>
		<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>  
	<![endif]-->    

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>      
  <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>

<body class="subpage">
<div id="main">
<div id="inner">

<div class="top1">
<div class="container">
<div class="row">
<div class="span12">
<div class="top1_inner clearfix">
	<div class="search-form-wrapper">
		<form id="search-form" action="search.php" method="GET" accept-charset="utf-8" class="navbar-form" >
			<input type="text" name="s" value='Search' onBlur="if(this.value=='') this.value='Search'" onFocus="if(this.value =='Search' ) this.value=''">
			<a href="#" onClick="document.getElementById('search-form').submit()"></a>
		</form>
	</div>
</div>	
</div>	
</div>	
</div>	
</div>

<div class="top2">
<div class="container">
<div class="row">
<div class="span12">
<div class="top3_inner clearfix">
<header><div class="logo_wrapper"><a href="index.html" class="logo"><img src="/images/logo.png" alt=""></a></div></header>
<div class="navbar navbar_">
	<div class="navbar-inner navbar-inner_">
		<a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
			MENU
		</a>
		<div class="nav-collapse nav-collapse_ collapse">
			<ul class="nav sf-menu clearfix">
<li><a href="/">Inicio</a></li>
<li><a href="/nosotros">Nosotros</a></li>
<li class="active sub-menu sub-menu-1"><a href="/nuestroMenu">Nuestro menu</a>
	<ul>
		<li><a href="index-2.html">pizza</a></li>		
		<li><a href="index-2.html">pasta</a></li>
		<li><a href="index-2.html">ensaladas</a></li>
		<li><a href="index-2.html">tragos</a></li>
		<li><a href="index-2.html">postres</a></li>		
	</ul>						
</li>
<li><a href="/galeria">Galería</a></li>
<li><a href="/delivery">Delivery</a></li>
<li><a href="/contacto">Contacto</a></li>											
    </ul>
		</div>
	</div>
</div>
</div>	
</div>	
</div>	
</div>	
</div>


<div id="content">
<div class="container">
<div class="row">
<div class="span10">
	
<h1>Nuestro Menu</h1>
	<div class="menu">
<% platos.forEach(plato => { %>

<div class="card" style="">
	<img class="card-img-top" src="https://via.placeholder.com/160x192" alt="Card image cap">
	<div class="card-body">
	  <h5 class="card-title"><%= plato.nombrePlato %></h5>
	  <p class="card-text"><%=plato.descripcion%></p>
	  <p class="card-precio">$<%= plato.precio%></p>

	</div>
  </div>
  <% }) %>
</div>









</div>	
<div class="span2">


<h2>Nuestro Menu</h2>

<ul class="ul1">
  <li><a href="#">PIZZA</a></li>
  <li><a href="#">PASTA</a></li>
  <li><a href="#">ANTIPASTA</a></li>
  <li><a href="#">ENSALADAS</a></li>
  <li><a href="#">TRAGOS</a></li>	  	            		      	      			      
  <li><a href="#">POSTRES</a></li>	  	
</ul>	






</div>
</div>	
</div>	
</div>

<div class="bot1"></div>
<div class="bot2">
<div class="container">
<div class="row">
<div class="span12">
<div class="bot2_inner clearfix">

<div class="menu_bot">
    <ul id="menu_bot" class="clearfix">
      <li><a href="/">Inicio</a></li>
      <li><a href="/nosotros">Nostros</a></li>
      <li><a href="/nuestroMenu">Nuestro menu</a></li>
      <li><a href="/galeria">Galeria</a></li>
      <li><a href="/delivery">Delivery</a></li>
      <li><a href="/contacto">Contacto</a></li>          
    </ul>
</div>

<div class="social_wrapper">
	<ul class="social clearfix">
	    <li><a href="#"><img src="images/social_ic1.png"></a></li>
	    <li><a href="#"><img src="images/social_ic2.png"></a></li>
	    <li><a href="#"><img src="images/social_ic3.png"></a></li>	    
	</ul>
</div>

</div>	
<footer>
	<div class="copyright">Copyright © 2020. <a class="copyright" href="https://gridgum.com/themes/category/free/">Free Bootstrap Templates</a>. All rights reserved.</div>
</footer>
</div>	
</div>	
</div>	
</div>





</div>	
</div>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
</body>
</html>